@import "../../../styles/variables";

.Login {
    width: 100%;
    height: 100vh;
    justify-content: center;
    color: $brown-text;
    font-size: 1.6rem;

    .head {
        height: 40%;
        background-color: $primary-green;
        color: $primary-white;
        justify-content: center;
        font-weight: 500;
        img {
            height: 4rem;
        }
        .logo {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            bottom: 5.5rem;
            width: 105rem;
            margin-inline: auto;
            margin-inline: 4rem;
            place-self: center;
        }
    }
    .bottom {
        height: 100%;
        background-color: $primary-dark;
    }
    .content {
        position: absolute;
        padding: 4rem 6rem;
        background-color: $primary-white;
        place-self: center;
        gap: 3rem;
        border-radius: 1rem;
        margin-inline: 4rem;

        .left {
            gap: 4rem;
            max-width: 50rem;
            .steps {
                gap: 2rem;
            }
            h1 {
                right: 1.5rem;
                font-weight: 300;
                font-size: 3rem;
            }
            button {
                padding: 0.8rem 3rem;
                width: fit-content;
                display: flex;
                gap: 2rem;
                border-radius: 0.8rem;
                cursor: pointer;
                background-color: $primary-green;
                border: none;
                color: $primary-white;
                font-weight: 600;

                &:hover {
                    background-color: $primary-dark;
                    color: $primary-white;
                }
                &:active {
                    background-color: lighten($primary-dark, 10);
                    scale: 0.95;
                }
            }
        }
        .right {
            .img {
                height: 40rem;
                flex: none;
                img {
                    height: 100%;
                }
            }
        }
    }
}
